stage1/DQL_classed_vids/
stage3/params3/
stage4/agent.zip

stage4/agent2/params2/
stage4/agent2/agent2.zip
stage4/agent2/main2.py
stage4/agent2/network2.py
stage4/agent2/environment2.py

stage4/agent3/params3/
stage4/agent3/agent3.zip
stage4/agent3/main3.py
stage4/agent3/network3.py
stage4/agent3/environment3.py

stage4/agent4/params4/
stage4/agent4/agent4.zip
stage4/agent4/main4.py
stage4/agent4/network4.py
stage4/agent4/environment4.py

stage5/ncc_tests/
stage5/params/
stage5/agent.zip
stage5/read_results.py
stage5/per_example.py

ncc_backup/

